
.content-wrapper {
    height: 100%;
    width: 100%;
    overflow: scroll;
}
.content-box {
    --c-min-height: 20%;
    --c-width: 80%;
}

.content-box {
    font-size: 1.2em;
    margin: 5px auto;
    min-height: var(--c-min-height);
    width: var(--c-width);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    transition: 1s;
}

.defaultboxface {
    flex: 0 1 auto;
}
.defaultboxface-desc {
    text-align: left;
    font-size: .85em;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1400px) {
    .content-box {
        --c-width: 55%;
    }
}
@media screen and (max-width: 1000px) {
    .content-box {
        --c-width: 80%;
    }

    .content-hide-1000 {
        display: none;
    }
    .content-topface {
        margin: 0;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 630px) {
    .content-box {
        --c-width: 94%;
    }
}