.modal-wrapper { 
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
}
.modal {
    
    background-color: white;
    border-radius: 1em;
    padding: 20px;
    display: block;
    margin: 10px;
    border: 2px solid salmon;
}

@media screen and (max-width: 900px) {

}
