.error-queue-box {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.error-queue-box > div {
    display: block;
    min-width: 200px;
}

.item-danger {
    background-color: var(--theme-1-danger);

}
.item-warning {
    background-color: var(--theme-1-warning);
}
.item-x:before {
    content: '✕';
}
.item-x  {
    position:absolute;
    right: 0;
    top:0;
}
@media screen and(max-width: 900px) {

}