.interim-div {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.layout-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: flex-start;  
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}